/* login */
.form {
    margin: 35px auto;
}

.form input{
    height: 20px;
	border-radius: 3px;
	border: 1px solid #bdc7d8;
	font-size: 13px;
}

.form .submit {
    background-color: #DA816C;
    border-radius: 3px;
    border: 1px solid #bdc7d8;
    font-weight: bold;
    height: 25px;
}

.form td a {
    text-decoration: none;
    font-size: 14px;
}

.form .error {
    color: red;
    font-size: 13px;
}

/* sign up */

#signup input::-webkit-input-placeholder { font-size: 12px; color: #555; }
#signup input::-moz-placeholder { font-size: 12px; color: #555; }
#signup input:-ms-input-placeholder { font-size: 12px; color: #555; }
#signup input:-moz-placeholder { font-size: 12px; color: #555; }

#signup .submit {
	float: right;
}

#sex {
	margin-top: 5px;
}

/* sign up */


/* account */

.account-form {
	margin: 50px;
	margin-left: 0;
	width: 600px;
}

.account-form input::-webkit-input-placeholder { font-size: 14px; color: #000; }
.account-form input::-moz-placeholder { font-size: 14px; color: #000; }
.account-form input:-ms-input-placeholder { font-size: 14px; color: #000; }
.account-form input:-moz-placeholder { font-size: 14px; color: #000; }

.account-form .submit {
	float: right;
}

/* account */


/* home */

body {
	background: #ededed;
	font-family: 'Questrial', sans-serif;
}
header {

}
footer {
	margin:0 -1em -1em -1em;
	background: #DA816C;
	text-align: center;
	color:#ededed;
}
footer p {
	padding: 0.5em 1em 0.5em 0;
	margin: 0;        
}
nav {
	height: 60px;
}
nav ul {
	display: inline-block;
	padding: 0em 2em;
	text-align: center;
}
nav li {
	display: inline-block;
}
nav li a {
	display: inline-block;
	padding: 0em 3em;
	text-decoration: none;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
	outline: 0;
	color: #ededed;
}
nav li a:hover {
	background: #ededed;
	color: #751B05;
}
nav #current-page a {
	background: #ededed;
	color: #751B05;
}

.header-container {
	position:relative;
	margin:-1em -1em 0 -1em;
	overflow: hidden;
	background: #751B05 url(images/overlay.png) repeat;
	text-align: center;
}

#title {
	padding: 8em 0em 4em 0em;
}
#title h1 {
	display: inline-block;
	margin-bottom: 0.20em;
	padding: 0.20em 0.9em;
	font-size: 3.5em;
	color:#ededed;
}

#utility {
	position:absolute;
	right:3em;
	top:2em;
}
#utility a {
	padding:0.8em 1em;
	color:#ededed;
	text-decoration:none;
	width:100px;
}
#utility a:hover {
	color:#751B05;
	background: #ededed;
}
.container {
	padding:4em;
	line-height:2em;
}
#content ul{
	list-style-type: none;
}

#tasks table {
	border-collapse: collapse;
	border:1px solid black;
	table-layout: fixed;
}
#tasks td, th {
	height: 30px;
	width: 30px;
	overflow: hidden;
}
#tasks .btn {
	border: 0;
	color: red;
}